@import url("https://fonts.googleapis.com/css?family=Nova+Mono");

:root {
  --lightness: 75%;
  --color-red: hsl(0, 100%, var(--lightness));
  --color-yellow: hsl(60deg, 100%, var(--lightness));
  --color-green: hsl(120deg, 100%, var(--lightness));
  --color-cyan: hsl(180deg, 100%, var(--lightness));
  --color-blue: hsl(240deg, 100%, var(--lightness));
  --color-magenta: hsl(300deg, 100%, var(--lightness));
  --color-black: hsl(0, 0%, 10%);
  --color-white: hsl(0, 0%, 90%);
  font-size: min(3.75vw, 16px);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-black);
  font-family: "Nova Mono", monospace;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
